.divHeight{
    height: 98px;
    width: 234px;
}

.buttonText{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
}


.carouselsDiv{
    position: absolute;
    top: 3rem;
    left:105px;
    width: 468px;
    height: 90%;
    background: rgba(0, 48, 72, 0.7);
    backdrop-filter: blur(15px);
}

.carouselsDiv h2{
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 110.7%;
    color: #FFFFFF;
}

.carouselsDiv h3{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.carouselsDiv h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.08em;
    color: #FFFFFF;
}

.carouselsTextBorderButton{
    width: 156px;
    height: 56px;
    border: 3px solid #fff;
}

.carousels .buttonAction{
    background: #81CCE9;
}

.styleTextNext h2{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: rgba(18, 24, 67, 0.48);
}