@media (max-width: 576px) {
    .sliderXS{
        padding-top: 120px!important;
    }
}

.slider{
    position: relative;
    background-image: url("http://localhost:3000/Sobol/gif/gifabout.png");
    background-size: cover;
    overflow: hidden;
    padding-top: 276px;
}

.aboutImgHeight {
    position: relative;
    background-image: url("http://localhost:3000/Sobol/img/Rectangle104.png");
    background-size: cover;
    overflow: hidden;
}

.aboutText h1 {
    font-weight: 900;
    font-size: 45px;
    line-height: 110.7%;
    color: #FFFFFF;
}

.aboutTextStrategy h2 {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 37px;
}

.aboutTextStrategy h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.aboutTextStrategy span {
    font-weight: 500;
    font-size: 300px;
    line-height: 366px;
}

.gradientText1 {
    text-transform: uppercase;
    background: linear-gradient(85.86deg, #A9F7E8 -12.09%, #8FECDA 82.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientText2 {
    text-transform: uppercase;
    background: linear-gradient(90deg, #A9F7E8 -43.64%, #5AD7BF 126.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientText3 {
    text-transform: uppercase;
    background: linear-gradient(90deg, #6CDEC8 -41.86%, #18B9D9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whiteSpace {
    overflow:hidden;
}