.headerButtonText{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.headerButtonHeight{
    width: 105%;
    background: linear-gradient(91.82deg, #81CCE9 1.02%, #00A1BF 97.59%);
    border-radius: 34px
}
@media (max-width: 576px) {
    .paddingLeftXS2{
        padding-left: 2rem!important;
    }
    .paddingBottomXS1{
        padding-bottom: 1rem!important;
    }
    .paddingTopXS2{
        padding-top: 2rem!important;
    }
    .widthsXS{
        width: 80%!important;
    }
    .navbarScrollTextXS{
        font-size: 24px!important;
        padding-left: 3rem!important;
        padding-top: 1rem!important;
    }
    .navbarScrollTextNavXS{
        font-size: 24px!important;
        font-weight: 200!important;
        padding-left: 2rem!important;
        padding-top: 1rem!important;
    }
}
.headerLogoTest h1{
    font-weight: 900;
    font-size: 28px;
    color: #000000;
}

.headerLogoTest span{
    color: #04A3C1;
}

.headerLogoTextNumber{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: rgba(0, 48, 72, 0.5);
}



.headerLogoColorNumber{
    color:#7CCAE8;
}

.positionNavbarScroll{
    position: sticky;
    top:0;
    z-index: 2;
}

.navbarScrollText{
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 110.7%;
    color: #000000;
}

.navbarScrollText span{
    color: #00A1BF;
}

.navbarScrollTextEng{
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    color: #003048;
    transform: rotate(-0.09deg);
}

.navbarScrollTextNumber{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
}